@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=PT+Sans&family=Roboto:wght@300&display=swap');

body {
    background-color: aliceblue;
}

.container {
    margin-top: 50px;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.item {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    border: solid 1px red;
    font-family: Roboto;
    font-size: 26px;
}

.title {
    font-family: Roboto;
    text-align: center;
    padding-top: 25px;
}

.customization {
    display: grid;
    grid-template-columns: 1fr;
}

#add {
    width: 100px;
    align-self: center;
    justify-self: center;
    grid-row: 3/4
}

.addForm {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    width: 250px;
    height: 200px;
    background-color: white;
    padding: 10px;
}

#submitButton {
    grid-row: 5/6;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
    justify-self: center;
}

label {
    display: inline-block;
}

input[type='text'] {
    display: inline-block;
    float: right;
}

input[type='checkbox'] {
    display: inline-block;
    margin-left: 25px;
}